/* ================ GLOBAL ================ */
html, body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__team {
  padding: 160px 0 180px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 177px;
}

.main__program {
  padding: 115px 0 185px;
}

.button {
  display: inline-block;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 4px;
  line-height: 52px;
  padding: 0 40px;
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  background-image: none;
  border-left: 2px solid #ff3f3a;
  border-right: 2px solid #f75e05;
  background-image: -webkit-linear-gradient(left, #ff3f3a, #f75e05),
    -webkit-linear-gradient(left, #ff3f3a, #f75e05);
  background-image: linear-gradient(left, #ff3f3a, #f75e05),
    linear-gradient(left, #ff3f3a, #f75e05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading--text-center {
  text-align: center;
}

.heading--text-color {
  color: #1e212c;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.style__display-none {
  display: none;
}

/* ================ HEADER TOP ================ */

.header {
  height: 100vh;
  font-weight: 700;
  background: url("./../assets/images/decor/header/header-bg.svg") 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  line-height: 1.6;
  color: #424551;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #ff3f3a
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  background: url("../assets/images/icons/user-icon.svg") no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all 0.3s;
}

.header__user-btn:hover {
  color: #ff3f3a
}

/* ================ HEADER BODY ================ */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header__play img {
  margin-right: 16px;
  border-radius: 50%;
  transition: all 0.3s;
}

.header__play:hover img {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 496px;
  margin-bottom: 60px;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
  margin-bottom: 80px;
}

.header__row>span {
  background: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

/* ================ ABOUT ================ */

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -155px;
  background: url("../assets/images/decor/about/about-1.svg");
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;
}

.about__paragraph:last-child {
  margin-bottom: 0px;
}

.about__paragraph--accent {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  border-radius: 4px;
  overflow: hidden;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #1e212c;
  font-weight: 700;
  line-height: 150%;

}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  color: #ff3f3a;
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 16px;
}

/* ================ DIRECTIONS ================ */

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: "";
  position: absolute;
  top: 82px;
  left: -287px;
  width: 136px;
  height: 115px;
  background: url("./../assets/images/decor/directions/direction-1.svg") 0 0 no-repeat;
}

.directions__inner::after {
  content: "";
  position: absolute;
  top: 450px;
  right: -430px;
  width: 243px;
  height: 243px;
  background: url("./../assets/images/decor/directions/direction-2.svg") 0 0 no-repeat;
}

.directions__heading {
  margin-bottom: 90px;
  text-align: center;
}

.directions__filter-box {
  display: flex;
  margin-bottom: 56px;
}

.directions__filter-item {
  margin-right: 45px;
}

.directions__filter-item:last-child {
  margin-right: 0;
}

.directions__filter-btn {
  background-color: transparent;
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  padding: 5px 7px;
  font-weight: 700;
  line-height: 1;
  font-size: 16px;
}

.directions__filter-btn--active {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  border: none;
  padding: 6px 7px;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-item {
  border-radius: 4px;
}

.directions__list-item--empty {
  display: flex;
  background: #f4f5f7;
  color: #424551;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.directions_list-item--empty span {
  max-width: 242px;
}

.directions__list-item--marketing .directions__link-tag {
  background-color: #03cea4;
}

.directions__list-item--management .directions__link-tag {
  background-color: #5a87fc;
}

.directions__list-item--hr .directions__link-tag {
  background-color: #f89828;
}

.directions__list-item--design .directions__link-tag {
  background-color: #f52f6e;
}

.directions__list-item--development .directions__link-tag {
  background-color: #7772f1;
}

.directions__list-link {
  display: block;
  transition: all 1s ease;
  overflow: hidden;
}

.directions__list-link:hover {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
  color: #ff3f3a;
  transition: all .3s;
}

.directions__image-box img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.directions__link-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e5e8ed;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.directions__link-tag {
  align-self: flex-start;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  background-color: forestgreen;
  padding: 6px 8px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.directions__link-text {
  color: #787a80;
  margin-bottom: 20px;
}

.directions__link-btn {
  font-weight: 700;
  color: #1e212c;
  display: flex;
}

.directions__link-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url("./../assets/images/icons/arrow-right-red.svg") 0 2px / 100% no-repeat;
  margin-left: 11px;

}

/* ================= CERTIFICATE =============== */

.cert__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: -244px;
  width: 60px;
  height: 60px;
  background: url("./../assets/images/decor/award/award-decor.svg") 0 0 no-repeat;
}

.cert__content {
  margin-right: 30px;
  max-width: 390px;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  margin-bottom: 30px;
}

.cert__logos-item {
  margin-right: 40px;
}

.cert__logos {
  display: flex;
}

.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__image-box {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

/* ================ TEAM ================ */

.team {
  background: url("./../assets/images/decor/team/team-bg.svg") calc(50% + 140px) calc(50% + 120px) no-repeat, #f4f5f7;
}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover .team__socials {
  transform: translateY(0%);
}

.team__slide:hover {
  box-shadow: inset 0 0 0 #000;
}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__socials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(50%);
  transition: all .4s ease-in-out;
}

.team__socials-item {
  margin-right: 12px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link {
  display: block;
  line-height: 0;
}


.team__socials-icon {
  width: 20px;
  height: 20px;
  opacity: .6;
  fill: #fff;
  transition: all .3s ease-in;
}

.team__socials-icon:hover {
  transition: all .3s ease-out;
  opacity: 1;
}

.team__info {
  text-align: center;
}

.team__info-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 4px;
}

.team__info-position {
  color: #787a80;
}

.team__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
}

.team__slider-arrow>svg {
  width: 24px;
  height: 24px;
  transition: all .1s ease-in;
}

.team__slider-arrow>svg:hover {
  transition: all .2 ease-out;
  border-radius: 100%;
  background-color: #ff3f3a;
  box-shadow: 0 0 0 12px #ff3f3a;
}

.team__slider-arrow>svg:active {
  opacity: .7;
}

.team__slider-prev {
  margin-right: 24px;
}

/* ================ TESTIMONIALS ================ */
.testimonials {
  background: #f4f5f7;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-44.9%, -55.4%);
  background: url("./../assets/images/decor/testi/testi-bg.svg") 0 0 / 100% no-repeat;
  width: 1971px;
  height: 816px;
}

.testimonials-inner {
  position: relative;
  z-index: 1;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 48px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  padding: 64px;
  background-color: #fff;
  border-radius: 4px;
}

.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials__quote {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("./../assets/images/decor/testi/quotes.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info-name {
  color: #1e212c;
  font-weight: 700;
  margin-bottom: 4px;
}

.testimonials__info-position {
  font-size: 14px;
  color: #787A80;
  line-height: 150%;
}

.testimonials__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.testimonials__arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  background-color: #ff3f3a;
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}

.testimonials__arrow path {
  transition: all .3s;
}

.testimonials__prev {
  left: 0;
}

.testimonials__prev::before {
  transform: translate(-50%, -50%) scale(0);
  left: 22%;
}

.testimonials__next {
  right: 0;
  justify-content: flex-end;
}

.testimonials__next::before {
  transform: translate(50%, -50%) scale(0);
  right: 22%;
}

.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
  transform: translate(50%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all .3s;
}

/* ================ COMPANIES ================ */

.companies {
  background-color: #f4f5f7;
}

.companies__inner {
  position: relative;
}

.companies__inner:before {
  content: "";
  position: absolute;
  bottom: -120px;
  left: -230px;
  background: url("./../assets/images/decor/testi/testi-1.svg") 0 0 / 100% no-repeat;
  width: 90px;
  height: 90px;
}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 100px;
}

.companies__grid-link {
  display: block;
}

.companies__grid-link img {
  width: 100%;
  filter: grayscale(1);
  opacity: .6;
  transition: all 1.3s;
}

.companies__grid-link img:hover {
  filter: grayscale(0);
  opacity: 1;
  transition: all .3s;
}

/* ================ PROGRAM ================ */
.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program__content {
  margin-right: 30px;
  max-width: 600px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-link {
  display: block;
  padding-left: 40px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-head {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1e212c;
  position: relative;
}

.program__acc-head span {
  font-weight: 400;
  color: #ff3f3a;
}

.program__acc-head::before,
.program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #ff3f3a;
  border-radius: 2px;
}

.program__acc-head::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.program__acc-text {
  margin-top: 16px;
}

.program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
}