html, body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #424551;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  background: linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 4px;
  line-height: 52px;
  padding: 0 40px;
  white-space: nowrap;
}

.logo {}

/* ----------------------------------- */

.header {
  font-weight: 700;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:list-child {
  margin-right: 0;
}

.header__nav-link {
  line-height: 1.6;
  color: #424551;
  white-space: nowrap;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  background: url("../assets/images/icons/user-icon.svg") no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
}